src/**
.vscode/**
.vscode-test/**
node_modules/@types/**
node_modules/typescript/**
node_modules/eslint/**
node_modules/@vscode/vsce/**
node_modules/.pnpm/@types+**
node_modules/.pnpm/typescript+**
node_modules/.pnpm/eslint+**
node_modules/.pnpm/@vscode+vsce+**
node_modules/.pnpm/node_modules/@types/**
node_modules/.pnpm/node_modules/typescript/**
node_modules/.pnpm/node_modules/eslint/**
node_modules/.pnpm/node_modules/@vscode/**
.gitignore
tsconfig.json
.opencode/**
docs/**
pnpm-lock.yaml